body {
    font-family: Arial, sans-serif;
    background-color: #fde2ee;
    margin: 0;
    padding: 0;
}
.right-screen .buttons {
    text-align: left;
    margin-bottom: 20px;
}

.right-screen .btn {
    margin-left: 10px;
}
.inbox {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    
}
h1 {
    background-color: rgb(251, 103, 127);
    color: white;
    text-align: center;
}

.email {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.email .sender {
    font-weight: bold;
}

.email-details {
    padding: 20px;
}

.email-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.email-content {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    min-height: 200px;
}

.inbox {
    padding: 20px;
    border: none;
    border-radius: 5px;
}

.email {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.email .sender {
    font-weight: bold;
}

.right-screen {
    width: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;

}

.email-details {
    padding: 20px;
}

.email-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.email-content {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    min-height: 200px;
}

.about-email {
    margin: 10px;
}

.mailboxes {
    text-decoration: underline;
    font-weight: bolder;
    color: salmon;
    background-color: #ffd3e7;
}

.navbar-brand {
    color: rgb(251, 103, 127);
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}